# Jekyll files
_site          # The generated Jekyll site output
_sass
.jekyll-cache  # Jekyll's cache directory for faster builds
.sass-cache    # Sass cache directory

# Ruby-related files (often managed by Bundler)
.bundle/        # Bundler's local gem installation directory (if you use `--path .bundle`)
vendor/bundle/  # Another common location for Bundler's local gem installation
vendor/cache/   # Bundler's cache for downloaded gems
vendor/gems/    # Bundler's local gem installation directory
vendor/ruby/    # Bundler's local Ruby installation directory