/* General Settings for Desktop */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {margin:0; background: #F2F2F2;}
h1, h2, h3, h4, h5, h6 {font-family:'Lora', Serif;}
h1 {font-size: 38px; font-weight:600;}
h2 {font-size: 32px;}
h3 {font-size: 28px;}
h4 {font-size: 24px;}
h5 {font-size: 20px;}
h6 {font-size: 18px;}

/*Styling For Includes Header*/
.headerinc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #262626;
    max-height: 100px;
}
.favicon img {
    max-height: 75px;
}
#navigation {
    display: flex;
    gap: 30px;
}
#navigation a {
    text-decoration: none;
    color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.list {
    font-size: 24px;
    color: #f2f2f2;
    cursor: pointer;
    background: none;
    border: none;
}
@media screen and (max-width: 624px) {
    .headerinc {
        max-height: 70px;
    }
    .favicon img {
        max-height: 45px;
        margin-left: 15px;
    }
    #navigation {
        display: none;
    }
    .list {
        margin-right: 20px;
    }
}
@media screen and (min-width: 625px) and (max-width: 824px) {
    .headerinc {
        max-height: 80px;
    }
    .favicon img {
        max-height: 55px;
        margin-left: 15px;
    }
    #navigation {
        margin-right: 20px;
    }
    .list {
        display: none;
    }
}
@media screen and (min-width: 825px) and (max-width: 1024px) {
    .headerinc {
        max-height: 90px;
    }
    .favicon img {
        max-height: 65px;
        margin-left: 20px;
    }
    #navigation {
        margin-right: 30px;
    }
    .list {
        display: none;
    }
}
@media screen and (min-width: 1025px) {
    .headerinc {
        max-height: 100px;
        max-width: 1440px;
    }
    .favicon img {
        max-height: 75px;
        margin-left: 35px;
    }
    #navigation {
        margin-right: 50px;
    }
    .list {
        display: none;
    }
}

/*Grid Layout for Homepage*/
.header {
    position: fixed; top: 0; right: 0; left: 0; z-index: 1;
}
.homebody {
    display: grid;
}
.recentpost {
    grid-area: recentpost;

}
.rpimage img{
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}
.freshpost {
    grid-area: freshpost;
    display: grid;
    gap: 45px;
}
.fpimage img{
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}
.olderpost {
    grid-area: olderpost;
}
.otherpost {
    grid-area: otherpost;
}
@media screen and (max-width: 624px) {
    .homebody {
        grid-template-areas: 
        "recentpost"
        "freshpost"
        "olderpost"
        "otherpost";
        gap: 45px;
        margin: 80px 20px 0px 20px;
    }
}
@media screen and (min-width: 625px) and (max-width: 824px) {
    .homebody {
        grid-template-areas: 
        "recentpost recentpost freshpost"
        "olderpost olderpost olderpost"
        "otherpost otherpost otherpost";
        gap: 45px;
        margin: 90px 20px 0px 20px;
    }
    .freshpost {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (min-width: 825px) and (max-width: 1024px) {
    .homebody {
        grid-template-areas: 
        "freshpost recentpost recentpost olderpost"
        "freshpost recentpost recentpost olderpost"
        ". otherpost otherpost .";
        gap: 50px;
        margin: 100px 30px 0px 30px;
    }
    .recentpost {
        border: 1px #737373 solid;
        max-height: 700px;
    }
    .rptitle, .rpexcerpt, .rpdate-author {
        margin: 0px 20px;
    }
}
@media screen and (min-width: 1025px) {
    .homebody {
        grid-template-areas: 
        "freshpost recentpost recentpost olderpost"
        "freshpost recentpost recentpost olderpost"
        ". otherpost otherpost .";
        gap: 50px;
        margin: 110px 50px 0px 50px;
        max-width: 1440px;
    }
    .recentpost {
        border: 1px #737373 solid;
        max-height: 700px;
    }
    .rptitle, .rpexcerpt, .rpdate-author {
        margin: 0px 20px;
    }
}

/*Styling for Homepage*/
/*General Styling*/
.hmcategory {
    text-align: center;
    transform: translateY(-20px);
}
.hmcategory a{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #262626;
    background: #F2F2F2;
    padding: 2.5px 10px;
    text-decoration: none;
}
.hmdate-author {
    padding-bottom: 20px;
}
.hmdate-author a{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: darkslategray;
    text-decoration: none;
}
/*Recent Post*/
.rptitle {
    font-family: 'Lora', serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.2;
    margin-top: -8px;
}
.rptitle a {
    color: #262626;
    text-decoration: none;
}
.rpexcerpt {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
.rpexcerpt a {
    color: #262626;
    text-decoration: none;
}
.rpdate-author a{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: darkslategray;
    text-decoration: none;
}
/*Fresh Post*/
.fptitle {
    line-height: 1.2;
    margin-top: -8px;
    margin-bottom: 8px;
}
.fptitle a{
    font-family: 'Lora', serif;
    font-size: 24px;
    color: #262626;
    text-decoration: none;
}
/*Older Post*/
.olderpost {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.optitle {
    line-height: 1.2;
}
.optitle a{
    font-family: 'Lora', serif;
    font-size: 20px;
    color: #262626;
    text-decoration: none;
}
.opcategory a{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #262626;
    text-decoration: none;
}
/*Other Post*/
.otptext {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    padding: 20px 0px 60px 0px;
    position: relative;
}
.otptext span {
    background: #F2F2F2;
    padding: 0px 10px;
}
.otptext::before {
    content:"";
    height: 1px;
    width: 50vw;
    background: #737373;
    top: 31%;
    left: 0;
    position: absolute;
    z-index: -1;
}
.otptext::after {
    content:"";
    height: 1px;
    width: 50vw;
    background: #737373;
    top: 31%;
    right: 0;
    position: absolute;
    z-index: -1;
}
.otpwhole {
    display: grid;
    grid-template-columns: "1fr 3fr";
    grid-template-areas: "otpleft otpright otpright otpright";
    gap: 25px;
}
.otpleft {
    grid-area: otpleft;
}
.otpimage img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.otpcategory a{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #262626;
    text-decoration: none;
}
.otpright {
    grid-area: otpright;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.otptitle a {
    font-family: 'Lora', serif;
    font-size: 20px;
    color: #262626;
    text-decoration: none;
}
/*Width-Based Styling*/
@media screen and (max-width: 624px) {
    .freshpost {
        border-top: solid #737373 1px;
        padding-top: 75px;
        border-bottom: solid #737373 1px;
        padding-bottom: 75px;
    }
}
@media screen and (min-width: 625px) and (max-width: 824px) {
    .olderpost {
        border-top: solid #737373 1px;
        padding-top: 75px;
    }
}

/*Berkenaan Layout*/
.aboutbody {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.abwhole {
    max-width: 642px;
}
.abtext {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #262626;
}
@media screen and (max-width: 624px) {
    .aboutbody {
        margin: 80px 20px;
    }
}
@media screen and (min-width: 625px) and (max-width: 824px) {
    .aboutbody {
        margin: 90px 30px;
    }
}
@media screen and (min-width: 824px) and (max-width: 1024px) {
    .aboutbody {
        margin: 100px 40px;
    }
}
@media screen and (min-width: 1025px) {
    .aboutbody {
        margin: 110px 50px;
    }
}